node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

/.idea/
/.nyc_output/
/firebase-debug.log
/firestore-debug.log
/ui-debug.log
/.nyc_output/
/cypress/screenshots/*
